@font-face {
    font-family: 'Netflix Sans';
    src: url(../fonts/NetflixSansMedium.ttf);
}

*{
    font-family: 'Netflix Sans', sans-serif;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../images/madeira.jpg);
}

div#all{
    background-color: white;
    width: 280px;
    height: 340px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: 2px solid;
    border-radius: 10px;
}

div#agr {
    text-align: center;
    color: white;
    margin-top: 5px;
    text-shadow: 1px 1px 3px black;
}

div#agr::after {
    content: "❤️";
}

#titulo {
    font-family: 'Netflix Sans', sans-serif;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.main {
    width: 250px;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#n0 {
    margin-left: 0px;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2;
}

.buttonh{
    display: inline;
    width: 157px;
    height: 50px;
    font-size: 25px;
    margin-right: 0px;
    margin-top:auto;
}

.textview {
    width: 200px;
    height: 30px;
    padding: 5px;
}
